amqp==5.3.1
਍愀渀渀漀琀愀琀攀搀ⴀ搀漀挀㴀㴀　⸀　⸀㔀ഀഀ
annotated-types==0.8.0
਍愀渀礀椀漀㴀㴀㐀⸀㄀㐀⸀㈀ഀഀ
billiard==4.2.4
਍挀攀氀攀爀礀㴀㴀㔀⸀㘀⸀㌀ഀഀ
click==8.5.0
਍挀氀椀挀欀ⴀ搀椀搀礀漀甀洀攀愀渀㴀㴀　⸀㌀⸀㄀ഀഀ
click-plugins==1.1.1.2
਍挀氀椀挀欀ⴀ爀攀瀀氀㴀㴀　⸀㌀⸀　ഀഀ
colorama==0.4.6
਍昀愀猀琀愀瀀椀㴀㴀　⸀㄀㐀㄀⸀㄀ഀഀ
h11==0.16.0
਍栀琀琀瀀挀漀爀攀㈀㴀㴀㈀⸀㄀㈀⸀　ഀഀ
httpx2==2.12.0
਍椀搀渀愀㴀㴀㌀⸀㄀㤀ഀഀ
iniconfig==2.3.0
਍欀漀洀戀甀㴀㴀㔀⸀㘀⸀㈀ഀഀ
packaging==26.3
਍瀀氀甀最最礀㴀㴀㄀⸀㘀⸀　ഀഀ
prompt_toolkit==3.0.53
਍瀀礀搀愀渀琀椀挀㴀㴀㈀⸀㄀㌀⸀㔀ഀഀ
pydantic_core==2.46.5
਍倀礀最洀攀渀琀猀㴀㴀㈀⸀㈀㄀⸀　ഀഀ
pytest==9.1.1
਍瀀礀琀栀漀渀ⴀ搀愀琀攀甀琀椀氀㴀㴀㈀⸀㤀⸀　⸀瀀漀猀琀　ഀഀ
redis==8.1.0
਍猀椀砀㴀㴀㄀⸀㄀㜀⸀　ഀഀ
starlette==1.6.0
਍琀爀甀猀琀猀琀漀爀攀㴀㴀　⸀㄀　⸀㐀ഀഀ
typing-inspection==0.4.4
਍琀礀瀀椀渀最开攀砀琀攀渀猀椀漀渀猀㴀㴀㐀⸀㄀㘀⸀　ഀഀ
tzdata==2026.3
਍琀稀氀漀挀愀氀㴀㴀㔀⸀㐀⸀㐀ഀഀ
uvicorn==0.52.4
਍瘀椀渀攀㴀㴀㔀⸀㄀⸀　ഀഀ
wcwidth==0.8.3
਍倀椀氀氀漀眀㴀㴀㄀㈀⸀㄀⸀㄀ഀഀ
pika==1.3.2
